{% extends 'base.html.twig' %}
{% block body %}
	<div class="calendar" data-controller="calendar">
		<div class="filters grid grid-cols-2 border-b text-gray-700 uppercase py-2 text-sm fixed top-0 w-full bg-white">
			<div>Bloc Docs</div>
			<div class="text-right">
				<button data-action="click->calendar#fetch keydown.enter->calendar#fetch" data-url="{{ path('app_calendar_block_create') }}">+ Block</button>
			</div>
		</div>
		<div class="weeks">
			{% for week in weeks %}
				<div class="week">
					<h2>
						<span class="week-number">{{ week.start|date('W')}}</span>
						{{ week.start|date('M d.') ~ '-' ~ week.end|date('d.') }}
					</h2>
					{% if week.blocks is not empty %}
						{% for block in week.blocks %}
							<div class="grid !gap-0 mb-0.5 blocks" data-action="click->calendar#fetch keydown.enter->calendar#fetch" data-url="{{ path('app_calendar_block_edit', {block: block.block.id}) }}">
								{% if block.starts %}
									{% set gridStyle = 'grid-column-start: ' ~ block.starts ~ '; grid-column-end: 8;' %}
								{% elseif block.ends %}
									{% set gridStyle = 'grid-column-start: 1; grid-column-end: ' ~ (block.ends + 1) ~ ';' %}
								{% elseif block.overlaps %}
									{% set gridStyle = 'grid-column-start: 1; grid-column-end: 8;' %}
								{% elseif block.within is not empty %}
									{% set gridStyle = 'grid-column-start: ' ~ block.within.starts ~ '; grid-column-end: ' ~ (block.within.ends + 1) ~ ';' %}
								{% endif %}
								<div style="{{ gridStyle }}">
									<div class="progress-wrapper">
										<div class="progress">
											<div class="w-full {{ block.block.color }}">
												{{ block.block.name }}
												({{ block.block.dateFrom|date('d.m.') }}
												-
												{{ block.block.dateTo|date('d.m.') }})</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					{% endif %}
					<div class="grid border-r border-b">
						{% for day in week.days %}
							{% set isToday = day|date('ymd') == " now"|date('ymd') %}
							{% set isFuture = day|date('ymd') > " now"|date('ymd') %}
							<div>
								<div tabindex="{{ loop.parent.loop.index }}" class="day{{ isFuture ? ' future' }}" {{ isToday ? 'id="today"' }} data-action="click->calendar#fetch keydown.enter->calendar#fetch" data-url="{{ path('app_calendar_event_create', {date: day|date('Y-m-d')}) }}" data-date="{{ day|date('Y-m-d') }}">
									<small class="font-light">{{ day|date('D, d.') }}</small>
									{% if events[day|date('Y-m-d')] is defined %}
										{% for event in events[day|date('Y-m-d')] %}
											<div class="font-medium flex flex-wrap event {{ event.color }}" data-action="click->calendar#fetch" data-url="{{ path('app_calendar_event_edit', {event: event.id}) }}">
												<span class="flex-none">{{ event.name }}</span>
												{% if event.time %}
													<span class="grow text-right">
														<span class="whitespace-nowrap">
															{{ event.time|minutes_to_hours }}
														</span>
													</span>
												{% endif %}
											</div>
										{% endfor %}
									{% endif %}
								</div>
							</div>
						{% endfor %}
					</div>
					{% if week.time > 0 %}
						<div class="progress-wrapper mt-0.5">
							<div class="progress">
								{% for color, data in week.colors %}
									<div style="width: {{ data.percentage }}%" class="hover-disable flex flex-col text-center whitespace-nowrap justify-center {{ color }}">
										{{ data.time|minutes_to_hours }}
									</div>
								{% endfor %}
								<div class="px-2 w-20 text-center whitespace-nowrap bg-gray-100 font-medium">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3.5 h-3.5 inline -mt-0.5 ">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
									</svg>
									{{ week.time|minutes_to_hours }}
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
		<div id="modal-calendar" class="modal hidden" role="dialog" aria-modal="true">
			<div class="overlay"></div>
			<div class="modal-wrapper">
				<div class="modal-inner">
					<div class="modal-content"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
