<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Blocdocs{% endblock %}</title>
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/favicon/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/favicon/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/favicon/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ asset('assets/site.webmanifest') }}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header>
			<div class="container mx-auto py-0.5 px-2 text-xs mb-5">BlocDocs</div>
		</header>
		<main class="container mx-auto"> 
			{% block body %}{% endblock %}
		</main>
		<footer>
			<div class="container mx-auto py-5 text-center text-sm text-gray-500">
				<p class="mb-2">Wer nicht hooken kann, muss ballern</p>
				<p>
					<a href="https://github.com/Reimar75/blocdocs" target="_blank">https://github.com/Reimar75/blocdocs</a>
				</p>
			</div>
		</footer>
	</body>
</html>
